<div class="mainContainer">
    <div class="title">
        TodoMVC
    </div>
    <%
    let activecount = 0;
    todos.forEach(e => {
        if (e.type === 'active') {
            activecount++;
        }
    })
    %>
    <div class="undoText">还有<%= activecount %>项待办未完成</div>
    <div class="filterList">
        <form action="/" method="get">
            <button class="<%= type === 'ALL' ? 'buttonActive' : 'smallButton' %>" type="submit">显示全部</button>
        </form>
        <form action="/done" method="get">
            <button class="<%= type === 'done' ? 'buttonActive' : 'smallButton' %>" type="submit">显示已完成</button>
        </form>
        <form action="/active" method="get">
            <button class="<%= type === 'active' ? 'buttonActive' : 'smallButton' %>" type="submit">显示未完成</button>
        </form>
    </div>
    <div class="formArea">
        <form action="/addNew" method="post">
            <input style="display: none" name="refer" value="<%= type %>">
            <!--            <div class="addTitle">-->
            <!--                添加新事项-->
            <!--            </div>-->
            <div>
                <input placeholder="添加新事项" class="input" name="name" type="text" id="name">
            </div>
            <div class="buttonArea">
                <button class="button" type="submit">添加</button>
            </div>
        </form>
    </div>
    <div class="todosContainer">
        <%
        if (type === 'active') {
            todos = todos.filter(e => e.type === 'active')
        }
        if (type === 'done') {
            todos = todos.filter(e => e.type === 'done');
        }
        todos.forEach(function(item){ %>
            <div class="itemContainer">
                <div class="item">
                    <% if(item.type === 'active'){ %>
                        <form action="/setDone" method="post">
                            <input style="display: none" name="id" value="<%= item.id %>">
                            <input style="display: none" name="refer" value="<%= type %>">
                            <button class="smallButton" type="submit">
                                标为已完成
                            </button>
                            <span id="<%= item.id %>" class="itemText"><%= item.text %></span>
                        </form>
                    <% } %>
                    <% if(item.type === 'done'){ %>
                        <form action="/setActive" method="post">
                            <input style="display: none" name="id" value="<%= item.id %>">
                            <input style="display: none" name="refer" value="<%= type %>">
                            <button class="smallButton" type="submit">
                                标为未完成
                            </button>
                            <span id="<%= item.id %>" class="itemTextDone"><%= item.text %></span>
                        </form>
                    <% } %>
                </div>
                <div class="optionList">
                    <form action="/deleteOne" method="post">
                        <input style="display: none" name="refer" value="<%= type %>">
                        <input style="display: none" name="id" value="<%= item.id %>">
                        <button class="deleteButton" type="submit">删除此项</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
    <div class="headControlContainer">
        <form action="/eraseAllDone" method="post">
            <input style="display: none" name="refer" value="<%= type %>">
            <button class="smallButton" type="submit">清除所有已完成的项目</button>
        </form>
        <form action="/setAllDone" method="post">
            <input style="display: none" name="refer" value="<%= type %>">
            <button class="smallButton" type="submit">将所有项目标为已完成</button>
        </form>
        <form action="/setAllActive" method="post">
            <input style="display: none" name="refer" value="<%= type %>">
            <button class="smallButton" type="submit">将所有项目标为未完成</button>
        </form>
    </div>
</div>
<script>
    // 绑定事件，动态创建一个输入框，在 onBlur 事件触发时发送请求，编辑所属项目。
    let textList = document.querySelectorAll('.itemTextDone');
    textList = [...textList, ...document.querySelectorAll('.itemText')];
    // 为这些绑定事件
    for (const element of textList) {
        element.addEventListener('dblclick', () => {
            // 取得 Id
            const editId = element.id;
            // 构造输入框
            const inputElement = document.createElement('input');
            const text = element.innerText;
            const parentNode = element.parentElement;
            inputElement.defaultValue = text;
            inputElement.className = 'editInput';
            inputElement.addEventListener('blur', (event) => editTodo(event, editId));
            inputElement.addEventListener('change', (event) => editTodo(event, editId));
            parentNode.removeChild(element);
            parentNode.parentElement.appendChild(inputElement);
            inputElement.focus();
        })
    }

    function editTodo(event, id) {
        const newText = event.target.value;
        const body = `id=${id}&refer=<%= type %>&text=${newText}`;
        fetch('/editTodo', {
            method: 'POST', body, headers: {
                'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
            }
        }).then(() => {
            window.location.reload();
        });
    }
</script>
