<div class="mainContainer">
    <div class="title">
        TodoMVC
    </div>
    <div class="filterList">
        <form action="/" method="get">
            <button class="<%= type === 'ALL'?'buttonActive':'smallButton' %>" type="submit">显示全部</button>
        </form>
        <form action="/done" method="get">
            <button class="<%= type === 'done'?'buttonActive':'smallButton' %>" type="submit">显示已完成</button>
        </form>
        <form action="/active" method="get">
            <button class="<%= type === 'active'?'buttonActive':'smallButton' %>" type="submit">显示未完成</button>
        </form>
    </div>
    <div class="formArea">
        <form action="/addNew" method="post">
            <input style="display: none" name="refer" value="<%= type %>">
            <!--            <div class="addTitle">-->
            <!--                添加新事项-->
            <!--            </div>-->
            <div>
                <input placeholder="添加新事项" class="input" name="name" type="text" id="name">
            </div>
            <div class="buttonArea">
                <button class="button" type="submit">添加</button>
            </div>
        </form>
    </div>
    <div class="todosContainer">
        <%
        if (type === 'active') {
            todos = todos.filter(e => e.type === 'active')
        }
        if (type === 'done') {
            todos = todos.filter(e => e.type === 'done');
        }
        todos.forEach(function(item, index){ %>
            <div class="itemContainer">
                <div class="item">
                    <% if(item.type === 'active'){ %>
                        <form action="/setDone" method="post">
                            <input style="display: none" name="id" value="<%= index %>">
                            <input style="display: none" name="refer" value="<%= type %>">
                            <button class="smallButton" type="submit">
                                标为已完成
                            </button>
                            <span class="itemText"><%= item.text %></span>
                        </form>
                    <% } %>
                    <% if(item.type === 'done'){ %>
                        <form action="/setActive" method="post">
                            <input style="display: none" name="id" value="<%= index %>">
                            <input style="display: none" name="refer" value="<%= type %>">
                            <button class="smallButton" type="submit">
                                标为未完成
                            </button>
                            <span class="itemTextDone"><%= item.text %></span>
                        </form>
                    <% } %>
                </div>
                <div class="optionList">
                    <form action="/deleteOne" method="post">
                        <input style="display: none" name="refer" value="<%= type %>">
                        <input style="display: none" name="id" value="<%= item.id %>">
                        <button class="deleteButton" type="submit">删除此项</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</div>
